.venv-pipeline/
local/
_Inline/
$log
NUL

install/vagrant/ubuntu/.vagrant/
tools/

run_local_hits_*/
run_manhattan_*/
run_local_hits_manhattan_*/
tmp*/
debug_single_local_gtf_*/
SAS_Output_RandID*/

cache/local_gtf_reuse/
cache/local_manhattan_reuse/

*.docx
*.html
*.png
*.pptx
*.log
*.pid
*.out
*.err
